body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #6A7C92;
    overflow-x: hidden;
}

#nav{
    font-weight: 700;
}

.navbar-nav .nav-item a {
    font-size: 16px;
    padding: 10px;
    color: #000000;
}

.navbar-nav .nav-item:hover a {
    color: #60257c;
}

.title1{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 35px;
    color: #60257c;

}
.title2{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 50px;
    color: #60257c;
}

.subtitle{
    font-weight: 500;
    font-size: 25px;
    color: #000000;
}

.theme-btn {
    background: #60257c !important;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

/* Sección ¿Cómo lo hacemos? */
.section-title h2{
    font-family: 'Roboto Slab', serif;
    font-size: 45px;
    font-weight: 600;
    color: #60257c;
}

.subtitle2{
    font-weight: 500;
    font-size: 25px !important;
    color: #000000;
}

.box-style .box-content-style h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}

.box-style .box-icon-style{
    border: 2px solid #60257c;
    color: #60257c;
}

.box-style:hover .box-icon-style {
    color: #fff;
    border-color: transparent;
    background: #60257c;
  }

  /* About Us */
.section-title-2{
    font-family: 'Roboto Slab', serif;
    font-weight: 300 !important;
    font-size: 40px;
    color: #60257c;
}

.section-title-3{
    font-family: 'Roboto Slab', serif;
    font-weight: 400 !important;
    font-size: 35px;
    color: #60257c;
}